<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../source/scss/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Lesson 1</title>
</head>

<body>
    <div class="container container__restored-password">
        <div class="title-container"><a a href="#sign-in"><img src='./source/img/angle-left-b.png'></a>
            <h2 class="title title__restore-password">Restore Password</h2>
        </div>
        <p class="text__restore-password">An email has been sent to <span>example@exam.com.</span> Check your inbox, and
            click the reset link provided.</p>
    </div>
</body>

</html>