<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../source/scss/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Lesson 1</title>
</head>
<body>
    <div class="container container__sign-in">
        <h2 class="title">Sign In</h2>
        <form class="form-sign-up">
            <input class="input_email" type="text" name="email" placeholder="Email" required>
            <div class="form-container"><input class="input_password" type="text"
                    name="password" placeholder="Password" required><button><img
                        src="../source/img/eye-slash.png"></button></div>
        </form>
        <div><button class="form-button form-button-sign-in"><span>Sign In</span></button></div>
        <a class="form-button-back button-forgot" href="#restore-password"><span>Forgot Password?</span></a>
        <div class="footer footer-sign-in">
            <p>Dont have an account?</p>
            <a class="button-sign-up" href="#sign-up">Sign up</a>
        </div>
    </div>
</body>
</html>