<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../source/scss/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <title>Lesson 1</title>
</head>
<body>
    <div class="container">
        <h2 class="title">Sign Up</h2>
        <form class="form-sign-up">
            <input class="input_first-name" type="text" name="firstName" placeholder="First Name" required>
            <input class="input_last-name" type="text" name="lastName" placeholder="Last Name" required>
            <input class="input_email" type="text" name="email" placeholder="Email" required>
            <div class="form-container"><input class="input_password" type="password"
                    name="password" placeholder="Password" required><button class="password-icon"><img class="eye"
                        src="./source/img/eye-slash.png"></button></div>
            <div class="form-container"><input class="input_password-confirm" type="password"
                    name="passwordConfirm" placeholder="Confirm Password" required><button><img class="eye"
                        src="./source/img/eye-slash.png"></button></div>
        </form>
        <div><button class="form-button"><span>Sign Up</span></button></div>
        <div class="footer footer-sign-up">
            <p>Already have an account?</p>
            <a class="button-sign-in" href="#sign-in">Sign in</a>
        </div>
    </div>
</body>
</html>