/* Colors
    =====================================================*/

$white: #ffffff;
$black: #202225;
$grey-light-bg: #F9FAFF;
$grey-solid-borders: #DCE0EC;
$grey-medium-text: #A1ABC9;
$blue: #7297FF;
$grey-solid-background: #E3EBFF;

